<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ichinara Editora</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'> <!--mobile res-->
    <link rel="stylesheet" type="text/css" href="../../static/semantic/semantic.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/css/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src='../../static/js/main.js'></script>  
    <script src="../../static/semantic/semantic.min.js"></script>

</head>


<body>
    <div id='content'>
        <div id="gallery-content">
            <img src="../../media/arqueiroapoiado.png" alt="" title="" />
            <div class="gallery"></div>
        </div>
    

        <div id='sticker'>
            <img src="../../media/geralt.png" id="tablet" alt="Tablet e celular com uma imagem do jogo The Witcher 3" title="Yennefer e Geralt de Witcher 3"/>
            <ul>
                <li>Stickers</li>
                <li>Papeis de parede</li>
                <li>Limpeza de fundo</li>
                <li>Tratamento de foto</li>
                <li>Recorte para ícone</li>
            </ul>
        </div>
        
        <div>
            <img src="../../media/pins.png" id="pins" alt="Imagens circulas com efeitos diferentes de cor" title="Tratamento de Imagem"/>
        </div>

        <div id='funciona'>
            <div>
                <h2>Como funciona?</h2>
                <p>Preencha o formulário e aguarde até dois dias para receber o retorno! Você poderá pagar via PicPay ou cartão de crédito pelo PayPal.</p>
                <p>Os projetos geralmente demoram 7 dias para serem entregues e caso a demanda for pequena o prazo pode ser antecipado.</p>
                <a href="#" target="_blank" class="purchase">
                    <img src="../../media/cart.png" id="cart" alt="" title=""/>
                </a>
            </div>
            <img src="../../media/mistica2.png" alt="" title=""/>
        </div>
    </div>    
    <div id='footer'>

    </div>
</body>

<footer>
        <i class="user secret icon"></i><p>ichinaraeditora@gmail.com</div></p>

        <p>Feito com a ajuda de: <br>
        <i class="github alternate icon"></i>github.com/hatatori</p>
</footer>


</html>