<!DOCTYPE html>
<html>



<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ichinara Editora</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'> <!--mobile res-->
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/css/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src='../../static/js/main.js'></script>  
</head>



<body>
    <div id='content'>
        <div class="gallery">
        </div>
    

        <div id='sticker'>
            <img src="../../media/geralt.png" alt="Tablet e celular com uma imagem do jogo The Witcher 3" title="Yennefer e Geralt de Witcher 3"/>
            <ul>
                <li>Stickers</li>
                <li>Papeis de parede</li>
                <li>Limpeza de fundo</li>
                <li>Tratamento de foto</li>
                <li>Recorte para ícone</li>
            </ul>
        </div>
        
        <div id='funciona'>
            
        </div>


    </div>    
</body>






</html>