@font-face {
    font-family: Average;
    src: url(../fonts/Average-Regular.ttf);
  }
  

body {
    background-color: #080010;
    color: #e681ac;
    font-size: 35px; 
    font-family: Average; 
}   

#content {
    max-width: 1100px ;
    margin: 0 auto;
}


ul li {
    list-style: none;

}